div {
  width: 150px;
  height: 150px;
  background-color: salmon;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  overflow: hidden;
}

div img {
  width: 150px;
  height: 150px;
}
